.map{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
    
  }.example-selected-value {
    margin: 35px;
  }.form-controller{
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 180 px;
    height: 30px;
    background-color:rgb(80, 153, 190);

   }.my-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 0;
    }
  
   
  
  